<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{category}} - iListing</title>

		<link rel="icon" type="image/vnd.microsoft.icon" href="/icon/favicon.png" />
        <link rel="shortcut icon" type="image/x-icon" href="/icon/favicon.png" />
		
		<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<script src="/js/jquery-1.10.2.min.js"></script>
		<script src="/bootstrap/js/bootstrap.min.js"></script>        
		<script>
			$(document).ready(function(){
				$(".action_delete").click(function(){
					var pid = $(this).attr("id-ref")
					$.getJSON("/{{category}}/"+pid+"/delete_product.md", function(json){
						if(json.status == 200){
							//alert("删除成功!");
							$("#tr_"+pid).hide("slow");
						}else{
							alert(json.msg);
						}
					});
				});
				$('.checkall').click(function(){  
					$(this).is(":checked")?$(".checkone").prop("checked",true):$(".checkone").prop("checked",false);  
					$(this).is(":checked")?$(".checkall").prop("checked",true):$(".checkall").prop("checked",false);  
				});
				$('#download_btn').click(function(){  
					var product_ids = [];
					$(".checkone:checked").each(function(){
						product_ids.push($(this).val());
					});
					if(product_ids.length == 0){
						alert("请选择下载的产品.");
					}else{
						window.location = "/{{category}}/" + JSON.stringify(product_ids) + "/get_inventory_file.md";
					}
				});  
			});
		</script>
	</head>
<body>
<div class="panel panel-default">  
	<!-- Default panel contents -->
	<div class="panel-heading">
		{% include "nav.html" %}
	</div>
	<div class="panel-body">
		<div class="pull-left">
		<ol class="breadcrumb">
			<li><a href="/{{category}}/category.md">{{category}}</a></li>
			<li class="active">Listings</li>
		</ol>
		</div>
		<div class="pull-right"><a class="btn btn-primary" href="/{{category}}/add_product_page.md" role="button">Add a product</a></div>
	</div>

  <!-- Table -->
  <table class="table">
	<tr>
		<td><input type="checkbox" class="checkall"/></td>
		<td>操作</td>
		<td>SKU</td>
		<td>Product Name</td>
		<td>Product ID Type</td>
		<td>价格</td>
		<td>parent_child</td>
		<td>产品链接</td>
	</tr>
	{% for p in products %}
	<tr id="tr_{{p._id}}">
		<td><input name="product_ids[]" type="checkbox" class="checkone" value="{{p._id}}" /></td>
		<td>
			<div class="dropdown">
				<div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				操作<span class="caret"></span>
				</div>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="#">复制</a></li>
					<li><a href="/{{category}}/{{p._id}}/update_product_page.md">编辑</a></li>
					{%ifequal p.parent_child "parent"%}
					<li><a href="#" class="action_child" id-ref="{{p._id}}" data-toggle="modal" data-target="#child_products_modal">子产品</a></li>
					{%endifequal%}
					<li><a href="#" class="action_delete" id-ref="{{p._id}}">删除</a></li>
				</ul>
			</div>
		</td>
		<td>
			<image src="{{p.main_image_url}}" style="width:50px;height:50px;" />
			<br/>{{p.item_sku}}
		</td>
		<td>{{p.item_name}}</td>
		<td>{{p.external_product_id_type}}</td>
		<td>{{p.standard_price}}</td>
		<td>{%if p.parent_child%}{{p.parent_child|default:""}}{%endif%}</td>
		<td><a href="{{p.product_link}}" target="_blank">查看</a></td>
	</tr>
	{%endfor%}
	<tr>
		<td>
		<input type="checkbox" class="checkall"/></td><td colspan="20">
		<input type="submit" class="btn btn-primary btn-sm" id="download_btn" role="button" value="Download" />
		</td>
	</tr>
	</table>
	<br/><br/>
	<!----------------------------page sliper --------------------------------->
	<div class="form-inline" style="margin-right:20px;position:fixed; bottom:2px; right:2px;">
		<a class="btn btn-default" href="/{{category}}/1/{{url}}"><span class="glyphicon glyphicon-step-backward"></span></a>
		<a class="btn btn-default" href="/{{category}}/{{pre_page_num}}/{{url}}"><span class="glyphicon glyphicon-triangle-left"></span></a>
		<input class="form-control input-sm" style="width:36px;" type="text" name="formGroupInputSmall" id="formGroupInputSmall" value="{{cur_page_num}}" onkeypress="if(event.keyCode==13){location.href='/{{category}}/'+this.value+'/{{url}}';}"/>
		<label class="control-label" for="formGroupInputSmall">/{{last_page_num}}</label>
		<a class="btn btn-default" href="/{{category}}/{{next_page_num}}/{{url}}"><span class="glyphicon glyphicon-triangle-right"></span></a>
		<a class="btn btn-default" href="/{{category}}/{{last_page_num}}/{{url}}"><span class="glyphicon glyphicon-step-forward"></span></a>
	</div>
</div>
	<!------------------------------------------------------->
	<!-- Modal -->
	<div class="modal " id="child_products_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">生成子产品</h4>
		  </div>
		  <div class="modal-body" id="child_products_div">

		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			<button type="button" id="passwd_user_btn" class="btn btn-primary">保存</button>
		  </div>
		</div>
	  </div>
	</div>



</body>
</html>