<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{category}} - iListing</title>

		<link rel="icon" type="image/vnd.microsoft.icon" href="/icon/favicon.png" />
        <link rel="shortcut icon" type="image/x-icon" href="/icon/favicon.png" />
		
		<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<script src="/js/jquery-1.10.2.min.js"></script>
		<script src="/bootstrap/js/bootstrap.min.js"></script>
		<script>
			$(document).ready(function(){
				$("#update_save_btn").click(function(){
					var data = $(".tab-pane.active form").serialize();
					
					$.ajax({
						type: "POST",
						url: "/update_product.md",
						data: data,
						success: function(json){
							if(json.status == 200 && json.spc == "010"){
								$("#child_products_modal").modal('show');
								$("#child_products_div").load("/{{category}}/"+json.product_id +"/child_products_complete_page.md");
							}else if(json.status == 200 && json.spc == "100"){
								location.href = "/{{category}}/category.md";
							}else{
								alert(json.msg);
							}
						},
						error: function(){
							alert("通讯异常, 联系开发人员!");
						}
						
					});
				});
				$("#variation_theme").click(function(){
					var _this = $(this);
					$("#parent .variation_theme_content").remove();
					_this.parent().parent().after($("#"+_this.val()).html());
				});
				$("#child_product_additionalinfo_save_btn").click(function(){
					$("#child_products_div form").each(function(){
						var product_id = $(this).attr("id-ref");						
						var data = $(this).serialize();						
						$.ajax({
							type: "POST",
							url: "/{{category}}/child_products_complete.md",
							data: data,
							success: function(json){
								if(json.status == 200){
									$("#span_ok"+product_id).removeClass("sr-only");
								}else{
									$("#span_fail"+product_id).removeClass("sr-only");
								}
							},
							error: function(){
								alert("通讯异常, 联系开发人员!");
							}
							
						});
					});					
				});
			});
		</script>
	</head>
<body>
<div class="panel panel-default">  
	<!-- Default panel contents -->
	<div class="panel-heading">
		{% include "nav.html" %}
	</div>
	<div class="panel-body">
		<ol class="breadcrumb">
			<li><a href="/{{category}}/category.md">{{category}}</a></li>
			<li class="active">Update a product</li>
		</ol>
		<div class="pull-right"><a class="btn btn-primary" id="update_save_btn" href="#" role="button">Save</a></div>
		<div>
			<!-- Nav tabs -->
			<ul class="nav nav-tabs nav-pills" role="tablist">
				<li role="presentation" class="active"><a href="#{{product._id}}" aria-controls="single" role="tab" data-toggle="tab">{{spc_product}}</a></li>
			</ul>
			
			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="{{product._id}}">
					<br/>
					<form class="form-horizontal">
					<input type="hidden" name="category" value="{{category}}" />
					<input type="hidden" name="product_id" value="{{product._id}}" />
					<input type="hidden" name="spc" value="100" />
					{%for dt in data %}
						{% ifequal dt.type "hidden"%}
							<input type="hidden" name="{{dt.key}}" id="{{dt.key}}" value="{%if dt.value%}{{dt.value}}{%endif%}" />
						{%else%}			
						{% ifequal dt.type "text"%}
						<div class="form-group">
							<label for="{{dt.key}}" class="col-sm-2 control-label">{{dt.en}}</label>
							<div class="col-sm-10">
							<input type="text" class="form-control" name="{{dt.key}}" id="{{dt.key}}" value="{%if dt.value%}{{dt.value}}{%endif%}" placeholder="{{dt.en}}" />
							</div>
						</div>
						{%else%}
						{% ifequal dt.type "textarea"%}
						<div class="form-group">
							<label for="{{dt.key}}" class="col-sm-2 control-label">{{dt.en}}</label>
							<div class="col-sm-10">
							<textarea class="form-control" rows="3" name="{{dt.key}}" id="{{dt.key}}" placeholder="{{dt.en}}">{%if dt.value%}{{dt.value}}{%endif%}</textarea>
							</div>
						</div>
						{%else%}
						{% ifequal dt.type "select_1"%}
						<div class="form-group">
							<label for="{{dt.key}}" class="col-sm-2 control-label">{{dt.en}}</label>
							<div class="col-sm-10">
							<select class="form-control" name="{{dt.key}}" id="{{dt.key}}">
								{% for v in dt.values%}
								<option value="{{v}}" {%ifequal dt.value v%}selected{%endifequal%}>{{v}}</option>
								{% endfor %}
							</select>
							</div>
						</div>
						{%else%}
						{% ifequal dt.type "select_2"%}
						<div class="form-group">
							<label for="{{dt.key}}" class="col-sm-2 control-label">{{dt.en}}</label>
							<div class="col-sm-10">
							<select class="form-control" name="{{dt.key}}" id="{{dt.key}}">
								{% for v in dt.values%}
								<option value="{{v.0}}" {%ifequal dt.value v.0%}selected{%endifequal%}>{{v.1}}</option>
								{% endfor %}
							</select>
							</div>
						</div>
						{%else%}
						{% endifequal%}
						{% endifequal%}
						{% endifequal%}
						{% endifequal%}
						{% endifequal%}
					{%endfor%}
					</form>
				</div>
			</div>
		</div>		
	</div>	
</div>

<div id="Color" style="display:none;">
	<div class="form-group variation_theme_content">
		<label for="variation_theme_color" class="col-sm-2 control-label">Variation Theme Color</label>
		<div class="col-sm-10">
		<input type="text" class="form-control" name="variation_theme_color" id="variation_theme_color" placeholder="Variation Theme Color">
		</div>
	</div>
</div>
<div id="Size" style="display:none;">
	<div class="form-group variation_theme_content">
		<label for="variation_theme_size" class="col-sm-2 control-label">Variation Theme Size</label>
		<div class="col-sm-10">
		<input type="text" class="form-control" name="variation_theme_size" id="variation_theme_size" placeholder="Variation Theme Size">
		</div>
	</div>
</div>
<div id="sizecolor" style="display:none;">
	<div class="form-group variation_theme_content">
		<label for="variation_theme_color" class="col-sm-2 control-label">Variation Theme Color</label>
		<div class="col-sm-10">
		<input type="text" class="form-control" name="variation_theme_color" id="variation_theme_color" placeholder="Variation Theme Color">
		</div>
	</div>
	<div class="form-group variation_theme_content">
		<label for="variation_theme_size" class="col-sm-2 control-label">Variation Theme Size</label>
		<div class="col-sm-10">
		<input type="text" class="form-control" name="variation_theme_size" id="variation_theme_size" placeholder="Variation Theme Size">
		</div>
	</div>
</div>
<!------------------------------------------------------->
	<!-- Modal -->
	<div class="modal " id="child_products_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog  modal-lg" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">子产品</h4>
		  </div>
		  <div class="modal-body" id="child_products_div">

		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">稍后完成</button>
			<button type="button" id="child_product_additionalinfo_save_btn" class="btn btn-primary">保存</button>
		  </div>
		</div>
	  </div>
	</div>
</body>
</html>