<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Users - iListing</title>

		<link rel="icon" type="image/vnd.microsoft.icon" href="/icon/favicon.png" />
        <link rel="shortcut icon" type="image/x-icon" href="/icon/favicon.png" />
		
		<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<script src="/js/jquery-1.10.2.min.js"></script>
		<script src="/bootstrap/js/bootstrap.min.js"></script>
        <style type="text/css">
        <!--
        .left ul {
            font-szie: 16px;
            line-height:30px;
            list-style: none outside none;
            color: #0088CC;
        }        
		.main .left{
            float:left;
            height:800px;
            border-right: dotted 1px #333;
            border-left: dotted 1px #333;
        }
        .main .right{
            float:left;
            height:800px;
            border-right: dotted 1px #333;
        }
        .main .left{
            width:10%;
        }
        .main .right{
            width:88%;
        }
        -->
        </style>
        <script type="text/javascript">
        <!--
        $(function(){
			$(".left_menu").click(function(){
                $(".left_menu").each(function(){
                    $(this).removeClass("active");
                });
                $(this).addClass("active");

                $("#container").load($(this).attr("data-ref"));
            });
            $(".left_menu[data-ref='{{action}}']").click();
            
            $(".checkall").on("click", function(){
                //alert($(this).attr("checked"));
                var ischecked = $(this).attr("checked");
                $(".checkone").each(function(){
                    $(this).attr("checked", ischecked);
                });
                $(".checkall").attr("checked", ischecked);
            });

			$(document).on("click", "#add_user_save_btn", function(){ 
				var data = $("#add_user_form").serialize();
				$.ajax({
					type: "POST",
					url: "/add_user.md",
					data: data,
					dataType: "json",
					success: function(json){
						if(json.status==200){
							alert("ok 添加成功!");
							$("#add_user_modal").modal('hide');
							$(".left_menu.user_list").click();
						}else{
							alert(json.msg);
						}
					}
				}); 
			}); 
			$(document).on("click", ".user_inactive", function(){
				var sure = confirm("确定禁用此用户吗?");
                var _this = $(this);
				if(sure){
					var user_id = $(this).attr("id-ref");
					$.getJSON("/"+user_id+"/user_inactive.md", function(json){
						if(json.status == 200){
							$("#userstatus" + user_id).html("禁用");
                            _this.addClass("user_active");
                            _this.removeClass("user_inactive");
                            _this.html("激活");
                            
						}else{
							alert(json.msg);
						}
					});
				}
			});
			$(document).on("click", ".user_active", function(){
				var sure = confirm("确定激活此用户吗?");
                var _this = $(this);
				if(sure){
					var user_id = $(this).attr("id-ref");
					$.getJSON("/"+user_id+"/user_active.md", function(json){
						if(json.status == 200){
							//$("#tr_" + user_id).fadeOut("slow");
							$("#userstatus" + user_id).html("正常");
                            _this.addClass("user_inactive");
                            _this.removeClass("user_active");
                            _this.html("禁用");
						}else{
							alert(json.msg);
						}
					});
				}
			});
			$(document).on("click", ".set_role", function(){
                var _this = $(this);
				var user_id = _this.attr("id-ref");
				$("#set_role_div").load("/"+ user_id +"/to_set_role.md");
			});
			$(document).on("click", ".user_passwd", function(){
                var _this = $(this);
				var user_id = _this.attr("id-ref");
				$("#passwd_user_div").load("/"+ user_id +"/user_to_passwd.md");
			});
			$("#passwd_user_btn").on("click", function(){
                var data = $("#passwd_user_form").serialize();
				$.ajax({
					type: "POST",
					url: "/user_passwd.md",
					data: data,
					dataType: "json",
					success: function(json){
						if(json.status==200){
							alert("ok 修改成功!");
							$("#passwd_user_modal").modal('hide');
						}else{
							alert(json.msg);
						}
					}
				}); 
			});
			$("#set_role_save_btn").on("click", function(){
                var data = $("#set_role_form").serialize();
				$.ajax({
					type: "POST",
					url: "/set_role.md",
					data: data,
					dataType: "json",
					success: function(json){
						if(json.status==200){
							alert("ok 设定成功!");
							$("#set_role_modal").modal('hide');
						}else{
							alert(json.msg);
						}
					}
				}); 
			});
			
			$("#upc_file_import_btn").click(function(){
				$("#upc_import_modal").modal('hide');
				var formData = new FormData($("#upc_file_form")[0]);
				var xhr = new XMLHttpRequest();    
				xhr.open("POST" ,"/upc_file_import.md" , true);
				xhr.send(formData);
				xhr.onload = function(e) {
					if (this.status == 200) {
						var json = JSON.parse(this.responseText);
						if(json.status == 200){
							alert('ok');							
							$(".left_menu.active").click();
						}else{
							alert(json.msg);
						}
					}else{
						alert("系统错误!");
					}
				};
			});
			
        });
    
        -->
        </script>
    </head>
    <body>
	<div class="panel panel-default">  
		<!-- Default panel contents -->
		<div class="panel-heading">
			{% include "nav.html" %}
		</div>

    <div class="panel-body main">
        <div class="left">
			<ul class="nav nav-pills nav-stacked">
				<li role="presentation" class="left_menu user_list" data-ref="/user_list.md"><a href="#">Users</a></li>
				<li role="presentation" class="left_menu role_list" data-ref="/role_list.md"><a href="#">Roles</a></li>
				<li role="presentation" class="left_menu upc" data-ref="/upc.md"><a href="#">UPC</a></li>
			</ul>
        </div>
		
        <div class="right" id="container">
            用户用于管理人员
			角色用于管理权限
			功能完善中...
			
        </div>
    </div>
</div>	
	<!-- Modal -->
	<div class="modal " id="add_user_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">用户添加</h4>
		  </div>
		  <div class="modal-body">
			<form id="add_user_form">
			<input type="hidden" name="csrftoken" value="{{csrftoken}}"/>
			<table border="1px" bordercolor="#ccc" class="table">
				<tr>
					<td>
					<label class="sr-only" for="display_name">显示名</label>
					<input type="text" class="form-control" value="" name="display_name" id="display_name" placeholder ="显示名"/>&nbsp;
					</td>
				</tr>
				<tr>
					<td>
					<label class="sr-only" for="login_name">用户名</label>
					<input type="text" class="form-control" value="" name="login_name" id="login_name" placeholder ="用户名"/>&nbsp;
					</td>
				</tr>
				<tr>
					<td>
					<label class="sr-only" for="login_password">密码</label>
					<input type="text" class="form-control" value="" name="login_password" id="login_password" placeholder ="密码"/>&nbsp;</td>
				</tr>
				<tr>
					<td>
					<label class="sr-only" for="re_login_password">重复密码</label>
					<input type="text" class="form-control" value="" name="re_login_password" id="re_login_password" placeholder ="重复密码" />&nbsp;
					</td>
				</tr>
				<tr>
					<td>
						&nbsp;&nbsp;<label class="checkbox-inline"><input type="checkbox" value="yes" name="is_super" />超级用户</label>
					</td>
				</tr>
			</table>
			</form>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			<button type="button" id="add_user_save_btn" class="btn btn-primary">保存</button>
		  </div>
		</div>
	  </div>
	</div>
	<!------------------------------------------------------->
	<!-- Modal -->
	<div class="modal " id="passwd_user_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">密码修改</h4>
		  </div>
		  <div class="modal-body" id="passwd_user_div">

		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			<button type="button" id="passwd_user_btn" class="btn btn-primary">保存</button>
		  </div>
		</div>
	  </div>
	</div>	
	<!------------------------------------------------------->
	<!-- Modal -->
	<div class="modal " id="set_role_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabe2">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabe2">设定角色</h4>
		  </div>
		  <div class="modal-body" id="set_role_div">

		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			<button type="button" id="set_role_save_btn" class="btn btn-primary">保存</button>
		  </div>
		</div>
	  </div>
	</div>	
	<!------------------------------------------------------->
	<!-- Modal -->
	<div class="modal " id="upc_import_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabe3">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabe3">导入UPC文件</h4>
		  </div>
		  <div class="modal-body">
			<form id="upc_file_form" enctype="multipart/form-data">
			<input type="hidden" name="csrftoken" value="{{csrftoken}}"/>
			<input type="file" name="upc_file" id="upc_file" accept="text/txt" value="" />&nbsp;
			</form>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			<button type="button" id="upc_file_import_btn" class="btn btn-primary">导入</button>
		  </div>
		</div>
	  </div>
	</div>
	
    </body>
</html>