*{
	font-size: 12px;
	padding: 2px 4px 2px 6px;
}
.nav_bar{
    background-color:#F8F8F8;
    line-height:120%;
    font-family:Arial,Verdana,Helvetica,sans-serif;
    border-bottom: 1px solid #eeeeee;
    float:left;
    width:100%;
    
}
.nav_bar li{
    display:inline-block;
    border-right: 1px solid #CCCCCC;
    white-space:nowrap;
    float:left;
    padding:5px 5px 5px 5px;
    
}
.nav_bar li.right{
    display:inline-block;
    border-left: 1px solid #CCCCCC;
    border-right: none;
    white-space:nowrap;
    float:right;
    padding:5px 5px 5px 5px;
    
}
.nav_bar a{
    width:100%;
    height:100%;
    text-decoration:none;
    color:#111;
}
.nav_bar a:hover{
    color: #FFFFFF;
    text-shadow: -1px -1px 0 #3293D6;
    background-color: #49B2FF;
}
.nav_bar li:hover{
    background-color: #49B2FF;
    border-right: 1px solid #49B2FF;

}
.nav_bar li.right:hover{
    background-color: #49B2FF;
    border-left: 1px solid #49B2FF;
}

.nowrap{
	white-space:nowrap; 
	overflow-x:scroll; 
	overflow-y:hidden;
}